@font-face { font-family: Bugaki-Regular; src: url(./Content/Bugaki.ttf); }

::-webkit-scrollbar {width: 15px; background-color: #0C1675;}
::-webkit-scrollbar-track {background: rgb(231, 236, 255); border-radius: 50px;}
::-webkit-scrollbar-thumb {background: #888; border-radius: 50px;}
::-webkit-scrollbar-thumb:hover {background: #555;}

body {background-color: #fff5f9;}
a {text-decoration: none;}
li, ol, ul, h4, h3 {font-family: 'DM Sans'; color: #0C1675;}
li {font-size: 18px;}
h4 {font-size: 20px; margin: 8px 0px;}
h2 {margin-top: 10px;}

h1, h2 {
  font-family: 'Bugaki-Regular';
  color: #0C1675;
  margin: 0px;
}

h6 {
  font-family: 'Caladea';
  font-size: 22px;
  font-weight: bold;
  margin: 0px;
  color: #0C1675; 
}

p {
  font-family: 'DM Sans';
  margin: 0px;
  font-size: 18px;
  color: #0C1675;
}

/*NAVIGATION MENU*/
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 8px;
  margin-bottom: 3px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.menu {
	display: flex;
	justify-content: right;
	background: #0C1675;	
  margin-left: -10px;
  padding-right: 20px;
  position: fixed;
  width: 100%;
  top: 0%;
  z-index: 4;
}

.menu button {
	background-color: #0C1675;
	padding: 8px;
	font-size: 16px;
	border: none;
	font-family: 'DM Sans';
	font-weight: bold;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu a { text-decoration: none; color: white; }
.menu button:hover { background-color: #758AC8; }

.dropdown {
	position: relative;
	display: block;
	margin-top: 15;
	font-family: 'DM Sans';
	font-size: 16px;
}

.dropdown:hover .menu button {background-color: #758AC8;}

.dropdown-items {
	display: none;
	position: absolute;
	background-color: #405182;
	width: 100%;
  text-align: center;
}

.dropdown-items a {
	color: white;
	padding: 5px ;
	display: block;
	align-items: center;
}

.dropdown-items a:hover {background-color: #758AC8;}
.dropdown:hover .dropdown-items {display: block;}

/*HOME PAGE*/
.header h1 {font-size: 70px; line-height: 60px;}
.header h6 {
  font-family: 'Caladea';
  font-size: 35px;
  margin-top: 50px;
  color: #0C1675; 
}
.header {position: relative;}
.header-text { 
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 2;
}

.parallax {
  width: 101.2%;
  height: 710px;
  background: url('./Crit-C-Images/hannah-busing-Zyx1bK9mqmA-unsplash.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 30%;
  margin-left: -10px;
}

.parallax-2 {
  width: 101.2%;
  height: 700px;
  background: url('./Crit-C-Images/group-students-table.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 30%;
  margin-left: -10px;
}

.parallax-3 {
  width: 101.2%;
  height: 700px;
  background: url('./Crit-C-Images/d21b2c569882ac14cac2a18057179d83.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 30%;
  margin-left: -10px;
}

.parallax-4 {
  width: 101.2%;
  height: 700px;
  background: url('./Crit-C-Images/duy-pham-Cecb0_8Hx-o-unsplash.jpg');
  background-size: 100% 100%;
  background-attachment: fixed;
  opacity: 30%;
  margin-left: -10px;
}

.home-body { 
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-body-content {margin: 60px;}
.home-body h1 {line-height: 40px;}
.home-body h2 {color: #0C1675; margin-top: 20px;}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.button {
  position: relative;
  width: 300px;
  height: 200px;
  margin: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #0C1675;
  font-size: 30px;
  width: 90%;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.button:hover img {opacity: 0.3;}
.button:hover .button-text {opacity: 1;}


/*FOOTER*/

.footer { 
  background-color: #0C1675;
  padding: 8px;
  margin: 0px -8px -8px -8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 350px;
  text-align: left;
  padding-top: 40px;
}

.footer p, h6 { color: white; font-family: 'DM Sans';}

.footer h2 {
  color: white;
  font-family: 'DM Sans';
  font-weight: bold;
}

.footer-links h6 { margin-top: 20px; }

.footer h3 {
  color: white;
  font-family: 'DM Sans';
  font-weight: lighter;
  margin: 0px;
}

.footer-links { 
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

/*NEWSLETTER SIGN UP OPTION*/
.newsletter-sign-up { 
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}
.newsletter-sign-up input {
  border: none;
  width: 300px;
  height: 25px;
  margin-top: 8px;
  padding: 8px;
}
.newsletter-sign-up h3 { margin-top: 8px; }
.newsletter-sign-up h2 {
  font-size: 30px;
  margin: 0px 0px 5px 0px;
}
.newsletter-sign-up button { 
  border: none;
  background-color: #758AC8;
  font-family: 'DM Sans';
  color: white;
  width: 315px;
  height: 35px;
  margin-top: 13px;
  padding: 8px;
}

#signedUpMessage {
  color: white;
  font-family: 'DM Sans';
  margin-top: 3px;
}

/*TIPS FOR STUDENTS AND TEACHERS*/

.std-header {display: flex; justify-content: center;}
.std-header img {opacity: 30%; position: relative;}

.std-header h1 {
  font-size: 80px;
  width: 70%;
  text-align: center;
  line-height: 90px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  top: 40%;
}

#std-header-img { 
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #fff5f9),
  url('./Crit-C-Images/javier-trueba-iQPr1XkF5F0-unsplash.jpg');
  width: 102%;
  height: 750px;
  background-size: 100% 100%;
  color: white;
  position: relative;
}

#tchr-header-img { 
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #fff5f9),
  url('./Crit-C-Images/christina-wocintechchat-com-4T-02pK0jUg-unsplash.jpg');
  width: 100%;
  height: 750px;
  background-size: 100% 100%;
  color: white;
  position: relative;
}

.std-content {margin-top: 50px; margin-bottom: 100px;}
.std-content a { text-decoration: underline; }
.std-content h2 { font-size: 45px ;}
.tips-std-2 {
  background-color: #e1efff; 
  border-top-right-radius: 360px; 
  border-bottom-right-radius: 360px; 
  display: flex; 
  padding: 30px; 
  align-items: center;
  margin-left: -15px;
  width: 90%;
}
.std-text-3 {
  background-color: white; 
  border-radius: 30px; 
  border: solid black 3px; 
  padding: 20px; 
  height: fit-content;
  margin-top: 20px;
}
.tips-std-4 {
  background-color: #e1efff; 
  border-top-left-radius: 360px; 
  border-bottom-left-radius: 360px; 
  display: flex; 
  padding: 20px; 
  align-items: center;
  margin-right: -8px;
  width: 90%;
  float: right;
}
.soar-imgs img {margin: 30px;}

.ws-link img {margin: 30px; margin-top: 0px; position: relative;}
.ws-link h3 {position: absolute; opacity: 0; margin-top: -300px; color: white;}
.ws-link:hover img {filter: brightness(60%);}
.ws-link:hover h3 {opacity: 1;}

/*INTRODUCTION TO CONFLICT RESOLUTION*/

.int-header {
  position: relative;
  height: 745px;
  display: flex;
  flex-direction: column;
}

.int-header h1 {
  font-size: 55px; 
  line-height: 60px;
}

.int-header img { 
  margin-top: -250px; 
  margin-left: -8px;
  left: 0;
  opacity: 0.35;
}

.inht { 
  display: flex; 
  justify-content: center; 
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 45%;
  width: 100%;
  opacity: 1;
}

.intro-content {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-bottom: 0px;
}
.int-para { 
  padding: 15px;
  background-color: #BCD3F3;
  display: flex;
  flex-direction: row;
  align-self: center;
  border-radius: 30px;
  margin: 10px;
}
.int-para ul {margin: 0px;}
.inht a {text-decoration: underline;}
.inht p {font-size: 14px;}
.stats-div{width: 50%; padding: 20px;}
.int-para-2 { 
  background-color: #fff;
  width: 96%;
  padding: 20px;
  border-radius: 30px;
  margin: 10px;
  display: flex;
  align-self: center;
}

.int-para-3 {
  margin: 10px;
  padding: 30px;
  background-color: #bcd3f3;
  border-radius: 30px;
}
 
.end-nav {
  padding-top: 20px; 
  width: 101.2%;
  background-color: #a0b3e7; 
  margin: 0px;
  margin-left: -15px;
}

/*INTRODUCTION TO CONFLICT RESOLUTION DROPDOWN NAVIGATION*/
.intro-page-nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 50px;
}
.int-dropbtn {
  background-color: #a0b3e7;
  padding: 16px;
  font-size: 16px;
  width: 700px;
  cursor: pointer;
  font-family: 'DM Sans';
  color: #000;
  text-align: left;
  border-color: #000;
  border-left: none;
  border-right: none;
  margin-top: -2px;
}
.int-dropdown {position: relative; display: inline-block;}
.int-dropdown-content {display: none; width: 700px;}
.int-dropdown-content p {
  color: #000; 
  padding: 12px 16px; 
  display: block;}

.int-arrow {
  border: solid #000;
  border-width: 0 3px 3px 0;
  padding: 3px;
  float: right;
}
.icon-left {padding: 3px;  float: right;}
.show {display:block}
.int-dropbtn {font-weight: bold;}

/*Thomas-Kilmann Conflict Mode Instrument*/

.tkm-header {
  text-align: center;
  font-size: 25px;
  margin: 8% 0% 5% 0%;
}

.tkm-h2 { font-size: 35px; }
.tkm-content {
  margin: 50px 0px 50px 40px;
  display: flex;
  justify-content: center;
}

/*TKM MODALS*/

.links-col {
  display: flex; 
  justify-content: 
  center;
}

.links-col button {
  border: none;
  width: 325px; 
  height: 150px;
  margin: 10px;
  cursor: pointer;
}

.axis-text-1 h2{
  transform: rotateZ(270deg);
  position: absolute;
  margin-top: 240px;
  margin-left: -50px;
  left: 0;
  font-size: 30px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.modal-content {
  background-color: #fff4f8;
  margin: 12% auto;
  width: 40%;
  text-align: center;
  border-radius: 30px;
}

.close {
  color: #0C1675;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/*COMMENTS*/

.container textarea { margin-bottom: 10px; font-family: "DM Sans" }

.container {
  width: 500px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 5px;
  margin-left: 50px;
}

.container h2 { margin: 0px; font-family: 'DM Sans'; font-size: 40px; margin-top: 50px;}

#comment{
  background-color: white;
  margin-bottom: 10px;
  margin-top: 5px;
  font-family: 'DM Sans';
}

#addComments {
  width: 20%;
  padding: 5px;
  background-color: darkblue;
  color: white;
  font-family: 'DM Sans';
}

.wrapper button {
  margin-right: 5px;
  padding: 5px;
  background-color: darkblue;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container button { margin-bottom: 10px; }

/*Games and Activities*/
#big-header-games {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), #fff5f9),
  url('./Crit-C-Images/folu-eludire-O9Epo1PwX5A-unsplash.jpg');
  width: 100%;
  height: 750px;
  background-size: 100% 100%;
  color: white;
  position: relative;
  align-items: center;
}

#big-header-games h1 {
  font-size: 80px;
  width: 100%;
  text-align: center;
  line-height: 90px;
  position: absolute;
  opacity: 1;
  z-index: 1;
  top: 40%;
}

.header-games {
  text-align: center;
  font-family: 'DM Sans';
  margin: 0px;
  margin-top: 10%;
}

.games-content {margin: 50px;margin-top: 0px;}
.description {padding: 20px;border-radius: 30px;}

.obj {
  padding: 20px;
  border-radius: 30px;
  background-color: #bcd3f3;
}

.time{
  padding: 20px;
  border-radius: 30px;
  background-color: #a0b3e7;
}

/*EASTER EGGS*/

#egg-btn-1 {
  border: none;
  background-color: #FFF5F9;
  padding: 0px;
  font-family: 'DM Sans';
  font-size: 16px;
  color: #0C1675;
  cursor: pointer;
}

#catImage {
  position: absolute;
  left: -300px;
  transform: translateY(-50%) rotate(-5deg);
  animation: moveCat 10s linear;
}
#dogImage {
  position: absolute;
  left: -300px;
  transform: translateY(-50%) rotate(-5deg);
  animation: moveDog 10s linear;
}

@keyframes moveCat {
  0% { left: -300px; transform: translateY(-50%) rotate(-30deg); }
  50% { left: calc(100% + 100px); transform: translateY(-50%) rotate(30deg); }
  100% { left: -300px; transform: translateY(-50%) rotate(-30deg); }
}
@keyframes moveDog {
  0% { left: 1500px; transform: translateY(-50%) rotate(30deg); }
  50% { left: -300px; transform: translateY(-50%) rotate(-30deg); }
  100% { left: 1500px; transform: translateY(-50%) rotate(30deg); }
}

#egg-2 { 
  border: none;
  padding: 0px;
  background-color: #FFF5F9;
  cursor: pointer;
}

#birdImg { 
  position: absolute;
  left: -500px;
  margin-top: -50px;
  transform: translateY(-50%) rotate(-5deg);
  animation: flyBird 5s linear;
}

@keyframes flyBird {
  0% { left: 100% ; }
  100% { left: -500px; }
}